[base]
#DEBUG=10, INFO=20, WARN=30
logger_level = 10
admin = yetist@gmail.com,yetist@jabber.org

[login]
host = jabber.org
user = xmppdog
pass = 
resource = xmppbot
disconnect_timeout=2

[plugins]
#是否启用某些插件
chat = 1
admin = 1
chatroom = 1

[room]
#格式: 聊天室地址 = 昵称
linuxcn@conference.jabber.org = xmppdog
linuxcn@conference.jaim.at = xmppdog
