[base]
show_debug = 1
show_info = 1
admin = yetist@gmail.com

[login]
host = jabber.org
user = xmppdog
pass = 
resource = xmppbot
auth_methods = sasl:DIGEST-MD5 digest
disconnect_timeout=2

[plugins]
#是否启用某些插件
chat = 1
admin = 1
chatroom = 1

[room]
#格式: 聊天室地址 = 昵称
linuxcn@conference.jabber.org = xmppdog
linuxcn@conference.jaim.at = xmppdog
